*.*
*
!/Makefile
!/LICENSE
!/README.md
!/top
!/vsrc
!/csrc
!/constr
!/tests
!/tests/**
!/resources
!/resources/**
!/scripts
!/scripts/**
!/include
!/include/**
!/icon
!/icon/**
!*.mk
!*.v
!*.sv
!*.c
!*.cpp
!*.cc
!*.xdc
!*.nxdc
!*.sh
!/doc
!/doc/**
!/utils
!/utils/**

# Chisel support
!/CPipe
!/CPipe/**
!*.scala
!/build.sc

# Vivado project files
!/CPipe.xpr
